body {
    margin-top: 100px;
    background-color: rgb(250, 248, 246);
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    min-height: 100vh;
    padding-top: 50px;
}



ul {padding: 0;}
ul li {
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
}
h1 {
    text-align: center;
}